Copy users from the project role <b>Developers_L{X}_{YZ}</b> to the <b>#if ($fieldname)${fieldname}#else${fieldid}#end</b> field.<br>
Where <b>{X}</b> is the current value of the <b>Level</b> field and <b>{YZ}</b> are first and last uppercase characters of the current issue type name.
