<tr bgcolor="#ffffff">
    <td align="right" valign="top" bgcolor="#fffff0">
        <span class="label">Level:</span>
    </td>
    <td bgcolor="#ffffff" nowrap>
        <input type="text" id="level" name="level" value="$textutils.htmlEncode($level)"/>
        <br><font size="1">Leave this field empty if a current level value should be used.</font>
    </td>
</tr>
